<!DOCTYPE html>
<html>
<head>
  <title>Clallam County Committee to Elect Bernie Sanders for President</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  
  <%= render :partial => 'parts/head_parts' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
